[문제165] emp_new.csv 파일  데이터에 커미션 정보를 분석하려 합니다.
커미션에 null값들의 수, null이 아닌값들의 수를 구하세요.
1. 일반적으로 csv file을 읽어서 해결
```python
with open('C:/Users/stu/git/DA_Academy/emp_new_1.csv', 'r') as emp:
    comm = 0
    nocomm = 0
    for line in emp:
        data = line.split(',')
        if len(data[6]) > 0:
            comm += 1
        else:
            nocomm += 1
            
    print('커미션을 받는 사원: {}명\n커미션을 받지 않는 사원: {}명'.format(comm, nocomm))
```
2. pandas를 이용해서 해결
```python
import pandas as pd
emp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp_new_1.csv', 
                  names=['empid','lname','jobid','mgrid','hiredate','salary', 'commpct', 'deptid'])
nocomm = len(emp[emp.commpct.isnull()])
print('커미션을 받는 사원: {}명\n커미션을 받지 않는 사원: {}명'.format(len(emp)-nocomm, nocomm))
```

[문제166] emp_new.csv, dept_new.csv 파일 데이터를 이용해서  조인된 결과를 보려고 합니다.
조인 함수를 생성하세요.
join(emp,'deptno','ename', dept,'deptno','dname')
join(emp,'mgr','ename', emp,'empno','ename')
```python
# join(테이블1, 키컬럼, 출력컬럼, 테이블2, 키컬럼, 출력컬럼)
import pandas as pd
emp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp_new_1.csv', 
                  names=['empno', 'ename','jobid','mgr','hiredate','salary','commpct','deptno'])
dept = pd.read_csv('C:/Users/stu/git/DA_Academy/dept_new.csv', 
                  names=['deptno','dname','mgrid','loc'])

def join(table_1, key_1, column_1, table_2, key_2, column_2):
    print(pd.merge(table_1[[key_1, column_1]], table_2[[key_2, column_2]], left_on=key_1, right_on=key_2).iloc[:,[1,-1]])
```
```python
# 선생님 답
import  csv
empfile = open("c:\data\emp_new.csv",'r')
deptfile = open("c:\data\dept_new.csv",'r')
emp_csv = csv.reader(empfile)
dept_csv = csv.reader(deptfile)

emp = []  
dept =[]

for i in  dept_csv:
    dept.append({'deptno':i[0],'dname':i[1],'mgr':i[2],'loc':i[3]})

for j in emp_csv:
    emp.append({'empno':j[0],'ename':j[1],'job':j[2],'mgr':j[3], 'hiredate':j[4],'sal':j[5],'comm':j[6],'deptno':j[7]})

def join(outer_table,outer_column1,outer_column2,inner_table,inner_column1,inner_column2):
   for  o  in  outer_table:
      for  i  in  inner_table:
         if o[outer_column1] == i[inner_column1]:
             print (o[outer_column2], i[inner_column2]) 
           
 
join(emp,'deptno','ename', dept,'deptno','dname')

join(emp,'mgr','ename', emp,'empno','ename')



import  pandas  as  pd

emp = pd.read_csv("c:\data\emp_new.csv", names = ['empid','ename','job','mgr','hire_date','sal','comm','deptno'])
dept = pd.read_csv("c:\data\dept_new.csv",names = ['deptno','dname','mgr','loc'])

def join(outer_table,outer_column1,outer_column2,inner_table,inner_column1,inner_column2):
    print(pd.merge(outer_table[[outer_column1,outer_column2]],inner_table[[inner_column1,inner_column2]],left_on=outer_column1,right_on=inner_column1))

join(emp,'deptno','ename', dept,'deptno','dname')

join(emp,'mgr','ename', emp,'empid','ename')    
```

[문제167] x변수에는 1,2,3,4,5  y변수에는 6,7,8,9,10 들어 있다. f(x,y) = x2 + y 를 구하세요.(lambda, map 함수를 이용하세요)
```python
x = [1,2,3,4,5]
y = [6,7,8,9,10]

def f(x,y):
    return list(map(lambda x,y:2*x+y, x,y))
```
[문제168] emp_new.csv는 pandas로 읽고 dept_new.csv는 일반 csv로 읽어들인 후 조인을 수행하세요.
```python
import pandas as pd
from pandas import Series, DataFrame
emp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp_new_1.csv', 
                  names=['empno', 'ename','jobid','mgr','hiredate','salary','commpct','deptno'])

dept = {}
with open('C:/Users/stu/git/DA_Academy/dept_new.csv', 'r') as file:
    for line in file:
        data = line.strip().split(',')
        dept[float(data[0])] = data[1]

emp['dname'] = emp.deptno.map(dept)
```

[문제169] happiness 변수에 문장이 있습니다. 행복이란 단어가 몇개 나오는지 분석하시고, 위치정보도 출력해주세요.
```
happiness = '우리나라 「헌법」 제10조는 “모든 국민은 인간으로서의 존엄과 가치를 가지며, 행복을 추구할 권리를 가진다”라고 규정하고 있다.행복추구권은 근대 입헌민주주의의 핵심인 개인주의·자유주의를 그 사상적 기반으로 하고 있다. 행복추구권에 있어서 행복은 다의적인 개념으로, 각자의 생활조건이나 가치관에 따라 다르게 이해될 수 있으나, 최소한 인간적인 고통이 없는 상태 내지 만족감을 느낄 수 있는 행복한 상태를 의미한다.'
```
```python
happiness = '우리나라 「헌법」 제10조는 “모든 국민은 인간으로서의 존엄과 가치를 가지며, 행복을 추구할 권리를 가진다”라고 규정하고 있다.행복추구권은 근대 입헌민주주의의 핵심인 개인주의·자유주의를 그 사상적 기반으로 하고 있다. 행복추구권에 있어서 행복은 다의적인 개념으로, 각자의 생활조건이나 가치관에 따라 다르게 이해될 수 있으나, 최소한 인간적인 고통이 없는 상태 내지 만족감을 느낄 수 있는 행복한 상태를 의미한다.'
result = []
start = 0
try:
    while True:
        i = happiness.index('행복', start)
        result.append(i)
        start = i+1

except ValueError:
    num = len(result)
    print('"행복"은 총 {}회 발견되었습니다.'.format(num))
    if num:
        print('위치:', result)

except Exception as error:
    print('에러가 발생했습니다! ',error)
```    
[문제170] emp1.csv, emp2.csv파일을 읽어서 부서별 총액급여를 구하세요.
```python
import pandas as pd
from pandas import Series, DataFrame
emp = pd.DataFrame()
for i in range(1, 3):
    temp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp{}.csv'.format(i), 
                      names=['empid', 'lname','hiredate','salary','deptid'])
    emp = emp.append(temp)
print(emp.salary.groupby(emp.deptid).sum())    
```

[문제171] 2016년도에 태어난 아이들의 정보가 들어 있는 year2016파일을 분석해야 합니다. 총 출생수를 출력해주세요.
```python
total = 0
with open('C:/Users/stu/git/DA_Academy/yob2016.txt', 'r') as file:
    for line in file:
        data = line.split(',')
        total += int(data[2])
print('2016년 총 출생수:', total)        
```
```python
# pandas
import pandas as pd
yob = pd.read_csv('C:/Users/stu/git/DA_Academy/yob2016.txt', names=['name','gender','num'])
print('2016년 총 출생수:', yob.num.sum())        
```
```python
# 선생님 답
import csv
import os

count=0
file = 'c:\data\yob2016.txt'
name = os.path.basename('c:\data\yob2016.txt') # os.path.basename: 경로를 제거하고 파일명만 리턴하는 함수
name = name.split('.')[0]
with open(file,'r') as f:
    data=csv.reader(f)
    for d in data:
        count += int(d[2])
print(name,count)

import csv
import os

count=0
file = 'c:\data\yob2016.txt'
name = os.path.basename('c:\data\yob2016.txt')
name = name.split('.')[0]
with open(file,'r') as f:
    data=f.readlines()
    for d in data:
        birth = d.split(',')[2]
        count += int(birth)
print(name,count)



import pandas as pd 
import os

file = 'c:/data/yob2016.txt'
name = os.path.basename(file)
name = name.split('.')[0]

yob = pd.read_csv('c:\data\yob2016.txt', names=['name','gender','birth'])


print(name,yob['birth'].sum())
```

[문제172] 2016년도에 태어난 아이 이름 상위 10까지 보여주세요. 성별 상위 5까지 보여주세요.
```python
import pandas as pd
yob = pd.read_csv('C:/Users/stu/git/DA_Academy/yob2016.txt', names=['name','gender','num'])
# 상위 10위
## sort 사용
yob.sort_values(ascending=False, by='num')[0:10]
## rank 사용
yob[yob.num.rank(ascending=False, method='dense', na_option='bottom')<=10].sort_values(ascending=False, by='num')

# 성별 상위 5위
## sort 사용
female = yob[yob.gender == 'F'].sort_values(ascending=False, by='num')[0:5]
male = yob[yob.gender == 'M'].sort_values(ascending=False, by='num')[0:5]
pd.concat([female, male])
## rank 사용
yob[yob.groupby('gender').num.rank(ascending=False, method='dense', na_option='bottom')<=5].sort_values(ascending=False, by='gender')
```
```python
# 선생님답
import pandas as pd 

yob2016 = pd.read_csv('c:\data\yob2016.txt', names=['name','gender','birth'])

def top(df, n=5, column='birth'):
    return df.sort_values(by=column, ascending=False)[:n]

print(top(yob2016 , n=10))

print(yob2016.groupby('gender').apply(top))
```

In [251]:
yob.groupby('gender').num.rank(ascending=False, method='dense', na_option='bottom') <= 5

0         True
1         True
2         True
3         True
4         True
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
32838    False
32839    False
32840    False
32841    False
32842    False
32843    False
32844    False
32845    False
32846    False
32847    False
32848    False
32849    False
32850    False
32851    False
32852    False
32853    False
32854    False
32855    False
32856    False
32857    False
32858    False
32859    False
32860    False
32861    False
32862    False
32863    False
32864    False
32865    False
32866    False
32867    False
Name: num, Length: 32868, dtype: bool

In [196]:
import pandas as pd
from pandas import Series, DataFrame
emp = pd.DataFrame()
for i in range(1, 3):
    temp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp{}.csv'.format(i), 
                      names=['empid', 'lname','hiredate','salary','deptid'])
    emp = emp.append(temp)
print(emp.salary.groupby(emp.deptid).sum())

deptid
10.0       8800
20.0      38000
30.0      49800
40.0      13000
50.0     312800
60.0      57600
70.0      20000
80.0     609000
90.0     124200
100.0    103216
110.0     40616
Name: salary, dtype: int64

In [87]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

x = Series([1,2,3], index=['one','two','three'])
y = Series(['하나','둘','셋'], index=[1,2,3])
for i in x:
    for j in y.index:
        if i == j:
            print(i,y[j])

1 하나
2 둘
3 셋

In [88]:
x1 = DataFrame(x)
y1 = DataFrame(y)
pd.merge(x1, y1, left_on=0, right_index=True) # 한쪽의 값과 다른쪽의 인덱스를 join 할 때

       key_0  0_x 0_y
one        1    1  하나
two        2    2   둘
three      3    3   셋

In [89]:
x.map(y)

one      하나
two       둘
three     셋
dtype: object

In [67]:
def f(arg):
    result=[]
    for i in arg:
        result.append(i*2)
    return result
f([1,2,3,4,5])

[2, 4, 6, 8, 10]

In [68]:
def f1(arg):
    return arg*2
f1([1,2,3,4,5])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### map()
-  map 함수는 입력받는 자료형의 각 요소가 함수에 수행된 결과를 묶어서 리턴하는 함수

In [71]:
list(map(f1,([1,2,3,4,5])))

[2, 4, 6, 8, 10]

In [72]:
list(map((lambda x:x*2), ([1,2,3,4,5])))

[2, 4, 6, 8, 10]